BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
USE PRIMARY NET "adc_dco_c" ;
LOCATE COMP "adc_dco" SITE "49" ;
LOCATE COMP "mem_ck" SITE "92" ;
LOCATE COMP "fled0" SITE "139" ;
LOCATE COMP "fled1" SITE "142" ;
LOCATE COMP "fled2" SITE "143" ;
LOCATE COMP "fpga_sw" SITE "138" ;
IOBUF PORT "adc_dco" IO_TYPE=LVCMOS33D ;
IOBUF PORT "fpga_sw" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fled0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fled1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fled2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mem_ck" IO_TYPE=LVCMOS18D DIFFDRIVE="NA" ;
