BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
USE PRIMARY NET "adc_dco_c" ;
LOCATE COMP "adc_dco" SITE "49" ;
LOCATE COMP "mem_ck" SITE "92" ;
LOCATE COMP "fled0" SITE "139" ;
LOCATE COMP "fled1" SITE "142" ;
LOCATE COMP "fled2" SITE "143" ;
LOCATE COMP "fpga_sw" SITE "138" ;
IOBUF PORT "adc_dco" IO_TYPE=LVCMOS33D PULLMODE=NONE ;
IOBUF PORT "fpga_sw" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fled0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fled1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fled2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mem_ck" IO_TYPE=LVCMOS18D DIFFDRIVE="NA" PULLMODE=NONE ;
LOCATE COMP "pmd0" SITE "9" ;
LOCATE COMP "pmd1" SITE "10" ;
LOCATE COMP "pmd2" SITE "11" ;
LOCATE COMP "pmd3" SITE "12" ;
LOCATE COMP "pmd4" SITE "13" ;
LOCATE COMP "pmd5" SITE "14" ;
LOCATE COMP "pmd6" SITE "21" ;
LOCATE COMP "pmd7" SITE "22" ;
LOCATE COMP "pmcs1" SITE "26" ;
IOBUF PORT "pmcs1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmd7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "pmdc" SITE "25" ;
LOCATE COMP "adc_d0a" SITE "42" ;
LOCATE COMP "adc_d0b" SITE "43" ;
LOCATE COMP "adc_d1a" SITE "47" ;
LOCATE COMP "adc_d1b" SITE "48" ;
LOCATE COMP "adc_d2a" SITE "52" ;
LOCATE COMP "adc_d2b" SITE "54" ;
LOCATE COMP "adc_d3a" SITE "57" ;
LOCATE COMP "adc_d3b" SITE "58" ;
LOCATE COMP "adc_d4a" SITE "59" ;
LOCATE COMP "adc_d4b" SITE "60" ;
LOCATE COMP "adc_d5a" SITE "61" ;
LOCATE COMP "adc_d5b" SITE "62" ;
LOCATE COMP "adc_d6a" SITE "65" ;
LOCATE COMP "adc_d6b" SITE "67" ;
LOCATE COMP "adc_d7a" SITE "68" ;
LOCATE COMP "adc_d7b" SITE "69" ;
IOBUF PORT "adc_d0a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d0b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d1a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d1b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d2a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d2b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d3a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d3b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d4a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d4b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d5a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d5b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d6a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d6b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d7a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d7b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmdc" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "fpio0" SITE "128" ;
LOCATE COMP "fpio1" SITE "127" ;
IOBUF PORT "fpio0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fpio1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
