BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
USE PRIMARY NET "adc_dco_c" ;
LOCATE COMP "adc_dco" SITE "N6" ;
LOCATE COMP "fled0" SITE "A3" ;
LOCATE COMP "fled1" SITE "B3" ;
LOCATE COMP "fled2" SITE "A2" ;
IOBUF PORT "adc_dco" IO_TYPE=LVCMOS33D PULLMODE=NONE ;
IOBUF PORT "fled0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "fled1" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "fled2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "pmd0" SITE "E1" ;
LOCATE COMP "pmd1" SITE "E2" ;
LOCATE COMP "pmd2" SITE "E3" ;
LOCATE COMP "pmd3" SITE "F2" ;
LOCATE COMP "pmd4" SITE "F1" ;
LOCATE COMP "pmd5" SITE "F3" ;
LOCATE COMP "pmd6" SITE "H1" ;
LOCATE COMP "pmd7" SITE "H3" ;
LOCATE COMP "pmcs1" SITE "K2" ;
IOBUF PORT "pmcs1" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd1" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd3" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd4" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd5" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd6" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "pmd7" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "pmdc" SITE "J3" ;
LOCATE COMP "adc_d0a" SITE "N3" ;
LOCATE COMP "adc_d0b" SITE "P4" ;
LOCATE COMP "adc_d1a" SITE "N5" ;
LOCATE COMP "adc_d1b" SITE "M5" ;
LOCATE COMP "adc_d2a" SITE "P7" ;
LOCATE COMP "adc_d2b" SITE "N7" ;
LOCATE COMP "adc_d3a" SITE "P8" ;
LOCATE COMP "adc_d3b" SITE "M8" ;
LOCATE COMP "adc_d4a" SITE "P9" ;
LOCATE COMP "adc_d4b" SITE "N9" ;
LOCATE COMP "adc_d5a" SITE "M9" ;
LOCATE COMP "adc_d5b" SITE "N10" ;
LOCATE COMP "adc_d6a" SITE "M10" ;
LOCATE COMP "adc_d6b" SITE "P11" ;
LOCATE COMP "adc_d7a" SITE "M11" ;
LOCATE COMP "adc_d7b" SITE "P12" ;
IOBUF PORT "adc_d0a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d0b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d1a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d1b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d2a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d2b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d3a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d3b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d4a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d4b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d5a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d5b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d6a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d6b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d7a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_d7b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pmdc" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "fpio0" SITE "A7" ;
LOCATE COMP "fpio1" SITE "B7" ;
LOCATE COMP "fpio2" SITE "C8" ;
IOBUF PORT "fpio0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "fpio1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "fpio2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
VCCIO_DERATE PERCENT 0; 
