BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
SYSCONFIG SLAVE_SPI_PORT=ENABLE ;
LOCATE COMP "clk" SITE "49" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33D DIFFDRIVE="NA" DRIVE=NA PULLMODE=NONE ;
LOCATE COMP "sw" SITE "138" ;
IOBUF PORT "sw" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "extra" IO_TYPE=LVCMOS33 ;
LOCATE COMP "led1" SITE "139" ;
LOCATE COMP "led2" SITE "142" ;
LOCATE COMP "led3" SITE "143" ;
LOCATE COMP "extra" SITE "1" ;
